namespace Sonia_s_Pizza_Store.Views.Customers
{
    public class Delete
    {
        @model Sonia_s_Pizza_Store.Models.Customer

<h2>Delete Customer</h2>
<p>Are you sure you want to delete @Model.FirstName @Model.LastName?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Confirm Delete</button>
</form>

    }
}
