namespace Sonia_s_Pizza_Store.Views.Customers
{
    public class Edit
    {
        @model Sonia_s_Pizza_Store.Models.Customer

<h2>Edit Customer</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <label>First Name:</label>
    <input asp-for="FirstName" required /><br />

    <label>Last Name:</label>
    <input asp-for="LastName" required /><br />

    <label>Phone:</label>
    <input asp-for="Phone" required /><br />

    <label>Email:</label>
    <input asp-for="Email" required /><br />

    <label>Address:</label>
    <input asp-for="Address" required /><br />

    <button type="submit">Save Changes</button>
</form>

    }
}
